run = "node start-replit.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "NODE_ENV=production npm run build && NODE_ENV=production npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 3000
